.places {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.places h1 {
    font-size: 30px;
    text-align: left;
}
.places article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}
.places article:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
}
.places h2 {
    font-size: 30;
    text-align: center;
    margin: 0;
    padding-bottom: 40px;
}
.price_by_night {
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    line-height: 60px;
}
.information {
    height: 80px;
    margin-top: 10px;
    border-top: 1px solid #DDDDDD;
    position: relative;
}
.max_guest,
.number_rooms,
.number_bathrooms {
    width: 100px;
    text-align: left;
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
}
.number_bathrooms {
    background-image: url(/web_static/images/icon_bath.png);
}
.max_guest {
    background-image: url(/web_static/images/icon_guest.png);
}
.number_rooms {
    background-image: url(/web_static/images/icon_bed.png);
}
.max_guest p,
.number_rooms p,
.number_bathrooms p {
    position: absolute;
    bottom: 0;
}
.user {
    margin-top: 10px;
}

.user p {
    text-align: left;
}

.description {
    margin-top: 10px;
    text-align: left;
    
}